/* Footer Section */

.footer {
    background-color: #030303;
}

.footer__container {
    height: 8vh;
    background-color: #030303;
    width: 100%;
    display: flex;
    justify-self: center;
    margin: 0 auto;
    z-index: 1;
    display: flex;
    padding: 0 5%;
    opacity: 0;
    animation: fadeSlideIn var(--a-duration) ease-in-out forwards;
    animation-delay: calc(var(--anim-offset)*3);
}

.footer__content {
    color: #a3a3a3;
    font-size: 1.7vh;
    width: 100%;
    text-align: center;
}

#footer__logo {
    background-color: #FFFFFF;
    background-image: linear-gradient(to top, #b2b2b2 0%, #f8f8f8 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.8vh;
    font-weight: normal;
    justify-content: center;
}

.normal-link-hyper {
    text-decoration: none;
    color: #a3a3a3;
    position: relative;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    /* border-bottom: 2px dashed rgba(255, 138, 138, 0.3); */
}

.normal-link-hyper:hover {
    color: #8aadff;
    transform: scale(1.02);
    transition: all 0.4s ease-in-out;
    /* border-bottom: 2px dashed rgba(255, 138, 138, 0); */
}