:root {
    --base-bg-color: #846415;
}

.cimmeria-caslon {
    font-family: 'Caslon Antique', sans-serif;
}

#cimmeria-title {
    font-family: 'Caslon Antique', sans-serif;
}

#font-spec {
    font-family: 'Caslon Antique', sans-serif;
    font-size: 1.6rem;
}