:root{
    --base-bg-color: #171935;
}

#subheader__home {
    font-weight:lighter;
    text-align: center;
    margin-bottom: 0.7rem;
    font-size: 1.5rem;
    color: #dbdbdbc0;
    font-family: 'Courier New', Courier, monospace;
}

.two-col-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 84vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.left-col-home {
    display: flex;
    flex-direction: column;
    height: 84vh;
    justify-content: center;
}

.right-col-home {
    display: flex;
    flex-direction: column;
    border-style: dashed;
    border-width: 1px;
    border-color: #dbdbdb64;
    border-radius: 3px;
    backdrop-filter: blur(0px);
    padding: 0.5vw;
    margin: 0.5vw;
    color: #dbdbdbc0;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.02;
    transition: all 1.0s ease-in-out;
    height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: 0.25px;
}

.right-col-home:hover{
    opacity: 1.0;
    backdrop-filter: blur(3.5px);
    transition: all 1.0s ease-in-out;
}

.right-col-home p {
    color: #dbdbdbc0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    white-space: none;
    text-align: justify;
    margin-bottom: 1rem;
}