:root {
    --base-bg-color: #352817;
}

.project__content {
    font-family: 'CMU Serif', sans-serif;
    color: #fcfcfc;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 3;
    /* overflow: auto; */
}

.project__content-titles {
    color: #fcfcfc;
    font-size: 3rem;
    cursor: pointer;
    display: inline-block;
    height:100%;
    text-decoration: none;
    padding-right: 3%;
    align-items: center;
}

#MYOLIGHT-title {
    font-family: 'MicraC', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    padding: 30px 0 18px 0;
}

#TM-sym {
    font-family: 'MicraC', sans-serif;
    font-weight: normal;
}

#cimmeria-title {
    font-family: 'Caslon Antique', sans-serif;
}

#spotify-title {
    font-family: 'Gotham';
    font-style: bold;
    font-size: 3.5rem;
    padding: 20px 0;
}
